<?xml version="1.0"?>

<!--
Aknolegment: This file was copied from the realsense repository of 
pal-robotics-forks( https://github.com/pal-robotics-forks/realsense/ ) 
and modified to add IMU and odometry.

License: Apache 2.0. See LICENSE file in root directory.
Copyright(c) 2017 PAL Robotics, S.L. All Rights Reserved

This is the Gazebo URDF model for the Intel RealSense T265 camera
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gazebo_t265" params="camera_name topics_ns
                                          fisheye1_reference_link
                                          fisheye2_reference_link
                                          fisheye1_optical_frame
                                          fisheye2_optical_frame
                                          fisheye_width:=848
                                          fisheye_height:=800
                                          fisheye_fps:=30

                                          accel_optical_frame
                                          gyro_optical_frame
                                          unite_imu_method:=false
                                          accel_fps:=62.5
                                          gyro_fps:=200

                                          pose_frame
                                          odom_xyz
                                          odom_rpy
                                          odom_fps:=200
                                          ">

    <!-- Load parameters to model's main link-->
    <gazebo reference="${fisheye1_reference_link}">
      <self_collide>0</self_collide>
      <enable_wind>0</enable_wind>
      <kinematic>0</kinematic>
      <!-- <gravity>1</gravity> -->
      <!--<mu>1</mu>-->
      <mu2>1</mu2>
      <fdir1>0 0 0</fdir1>
      <!--<slip1>0</slip1>
      <slip2>0</slip2>-->
      <kp>1e+13</kp>
      <kd>1</kd>
      <!--<max_vel>0.01</max_vel>
      <min_depth>0</min_depth>-->
      <sensor name="${camera_name}fisheye1" type="wideanglecamera">
        <!-- <origin xyz="0 0 0" rpy="0 ${M_PI/2} 0"/> -->
        <update_rate>${fisheye_fps}</update_rate>
        <camera>
          <horizontal_fov>1.95</horizontal_fov>
          <image>
            <width>${fisheye_width}</width>
            <height>${fisheye_height}</height>
          </image>
          <clip>
            <near>0.2</near>
            <far>100</far>
          </clip>
         <lens>
            <!-- type element is mandatory -->
            <type>orthographic</type>
            <!-- if it is set to `true` your horizontal FOV will remain as defined -->
            <!-- othervise it depends on lens type and custom function, if there is one -->
            <scale_to_hfov>true</scale_to_hfov>
            <!-- clip everything that is outside of this angle -->
            <!-- eye balled value for these cameras-->
            <cutoff_angle>2.20</cutoff_angle>
            <!-- resolution of the cubemap texture, the highter it is - the sharper is your image -->
            <env_texture_size>1024</env_texture_size>
          </lens>

        </camera>
        <plugin name="${camera_name}fisheye1" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>${fisheye_fps}</updateRate>
          <cameraName>${topics_ns}/fisheye1</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${fisheye1_optical_frame}</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>-0.00040996368625201285</distortionK1>
          <distortionK2>0.03653175011277199</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionP1>-0.034823670983314514</distortionP1>
          <distortionP2>0.0052825710736215115</distortionP2>
          <Cx>416.22</Cx>
          <Cy>402.1</Cy>
          <CxPrime>416.22</CxPrime>
        </plugin>
      </sensor>
    </gazebo>
    <gazebo reference="${fisheye2_reference_link}">
      <self_collide>0</self_collide>
      <enable_wind>0</enable_wind>
      <kinematic>0</kinematic>
      <!-- <gravity>1</gravity> -->
      <!--<mu>1</mu>-->
      <mu2>1</mu2>
      <fdir1>0 0 0</fdir1>
      <!--<slip1>0</slip1>
      <slip2>0</slip2>-->
      <kp>1e+13</kp>
      <kd>1</kd>
      <!--<max_vel>0.01</max_vel>
      <min_depth>0</min_depth>-->
      <sensor name="${camera_name}fisheye2" type="wideanglecamera">
        <!-- <origin xyz="0 0 0" rpy="0 ${M_PI/2} 0"/> -->
        <update_rate>${fisheye_fps}</update_rate>
        <camera>
          <horizontal_fov>2.84</horizontal_fov>
          <image>
            <width>${fisheye_width}</width>
            <height>${fisheye_height}</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
         <lens>
            <!-- type element is mandatory -->
            <type>orthographic</type>
            <!-- if it is set to `true` your horizontal FOV will remain as defined -->
            <!-- othervise it depends on lens type and custom function, if there is one -->
            <scale_to_hfov>true</scale_to_hfov>
            <!-- clip everything that is outside of this angle -->
            <!-- eye balled value for these cameras-->
            <cutoff_angle>2.20</cutoff_angle>
            <!-- resolution of the cubemap texture, the highter it is - the sharper is your image -->
            <env_texture_size>1024</env_texture_size>
          </lens>

        </camera>
        <always_on>1</always_on>
        <plugin name="${camera_name}fisheye2" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>${fisheye_fps}</updateRate>
          <cameraName>${topics_ns}/fisheye2</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${fisheye2_optical_frame}</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>-0.00040996368625201285</distortionK1>
          <distortionK2>0.03653175011277199</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionP1>-0.034823670983314514</distortionP1>
          <distortionP2>0.0052825710736215115</distortionP2>
        </plugin>
      </sensor>
      <!-- IMU -->
      <xacro:if value="${unite_imu_method == 'copy' or unite_imu_method == 'linear_interpolation'}">
        <sensor name="${camera_name}_imu" type="imu">
          <always_on>true</always_on>
          <update_rate>${gyro_fps}</update_rate>
          <topic>${camera_name}/imu/sample</topic>
          <plugin name="{camera_name}imu" filename="libgazebo_ros_imu_sensor.so">
            <topicName>${camera_name}/imu/sample</topicName>
            <bodyName>${camera_name}_pose_frame</bodyName>
            <frameName>${gyro_optical_frame}</frameName>
            <updateRateHZ>${gyro_fps}</updateRateHZ>
            <gaussianNoise>0.1</gaussianNoise>
            <xyzOffset>0 0 0</xyzOffset>
            <rpyOffset>0 0 0</rpyOffset>
          </plugin>
        </sensor>
      </xacro:if>
      <!-- Accel and gyro -->
      <xacro:unless value="${unite_imu_method == 'copy' or unite_imu_method == 'linear_interpolation'}">
        <sensor name="{camera_name}accel" type="imu">
          <always_on>true</always_on>
          <update_rate>${accel_fps}</update_rate>
          <plugin name="${topics_ns}_accel_plugin" filename="librealsense_gazebo_accel_sensor.so">
            <topicName>${camera_name}/accel/sample</topicName>
            <bodyName>${camera_name}_pose_frame</bodyName>
            <updateRateHZ>${accel_fps}</updateRateHZ>
            <gaussianNoise>0.1</gaussianNoise>
            <xyzOffset>0 0 0</xyzOffset>
            <rpyOffset>0 0 0</rpyOffset>
            <frameName>${accel_optical_frame}</frameName>
            <initialOrientationAsReference>false</initialOrientationAsReference>
          </plugin>
          <pose>0 0 0 0 0 0</pose>
        </sensor>
        <sensor name="{camera_name}gyro" type="imu">
          <always_on>true</always_on>
          <update_rate>${gyro_fps}</update_rate>
          <topic>${topics_ns}/gyro/sample</topic>
          <plugin name="${topics_ns}_gyro_plugin" filename="librealsense_gazebo_gyro_sensor.so">
            <topicName>${camera_name}/gyro/sample</topicName>
            <bodyName>${camera_name}_pose_frame</bodyName>
            <updateRateHZ>${gyro_fps}</updateRateHZ>
            <gaussianNoise>0.1</gaussianNoise>
            <xyzOffset>0 0 0</xyzOffset>
            <rpyOffset>0 0 0</rpyOffset>
            <frameName>${gyro_optical_frame}</frameName>
            <initialOrientationAsReference>false</initialOrientationAsReference>
          </plugin>
        </sensor>
      </xacro:unless>
    </gazebo>

    <gazebo>
      <!-- Odom from SLAM -->
      <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>${odom_fps}</updateRate>
            <bodyName>${pose_frame}</bodyName>
            <topicName>${topics_ns}/odom/sample</topicName>
            <gaussianNoise>0.01</gaussianNoise>
            <frameName>world</frameName>
            <xyzOffsets>${odom_xyz}</xyzOffsets>
            <rpyOffsets>${odom_rpy}</rpyOffsets>
        </plugin>
    </gazebo>
  </xacro:macro>
</robot>
