<?xml version="1.0"?>

<!--
Aknolegment: This file was copied from the realsense repository of 
pal-robotics-forks( https://github.com/pal-robotics-forks/realsense/ )

License: Apache 2.0. See LICENSE file in root directory.
Copyright(c) 2017 PAL Robotics, S.L. All Rights Reserved

This is the Gazebo URDF model for the Intel RealSense D435 camera
-->
  
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="gazebo_realsense_aligned_depth" params="camera_name topics_ns reference_link depth_optical_frame">
    <xacro:property name="deg_to_rad" value="0.01745329251994329577"/>
    <gazebo reference="${reference_link}">
      <sensor name="${camera_name}aligned_depth" type="camera">
        <camera name="${camera_name}_aligned_depth">
          <horizontal_fov>${69.4*deg_to_rad}</horizontal_fov>
          <image>
            <width>1920</width>
            <height>1080</height>
            <format>RGB_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
        <plugin name="camera_controller_aligned_depth" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${camera_name}/aligned_depth_to_color</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${depth_optical_frame}</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>

      </sensor>
    </gazebo>
  </xacro:macro>
</robot>